@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'IslandMoments-Regular';
    src: url("assets/fonts/IslandMoments-Regular.ttf");
}

html {
    scroll-behavior: smooth;
    
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto' , sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
       
}
a{
    text-decoration: none;
}

.header {
   /* border: 1px solid red;*/
    z-index: 5;
    
}

.nav-list {
display: flex;
justify-content: flex-end;
align-items: center;
list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #829985;
    font-size: 150%;
    font-style: italic;
    transition: 0.5s;
}
.nav-link:hover {
    color: #bdae82;
}

.main {
  /*  border: 1px solid red;*/
    margin: 0px 0px 50px 0px;
}

.img {
    border-radius: 50%;
}

.nav-link-title{
    color: #829985;
    transition: all 1s ease-out;
}

.nav-link-title:hover{
    color:#bdae82;
}

footer {
    background-color: #bdae82;
}
.footer-container {
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;    
}

.nav-link-footer {
    padding: 0 20px;    
    text-decoration: none;
    color:black;
    font-size: 150%;
    font-style: italic;
    transition: 0.5s;
}
.nav-link-footer:hover {
    color: #5d7260;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    }

.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
} 

.section{
    width: 50%;    
    /*border: 1px solid red;*/
    padding: 0px 0px 0px 20px;
    
}
@media (max-width: 768px) {
    .section{
        width: 100%;
    }
    .nav-list {
        flex-wrap: wrap;
    }
}



.section-title{
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color:#bdae82;
}
li , p , pre {
    font-size: 80%;
    color: #5d7260;
    text-transform: none;
    letter-spacing: 0px;
    }

#profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
}

#floorball {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.video-item {
    width: 650px;
}